<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Toys from the 80s and 90s</title>

	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="cloud-sale-app.css" rel="stylesheet">
	<link href='http://fonts.googleapis.com/css?family=Raleway:500' rel='stylesheet'>
</head>
<body ng-app="cloudSale" ng-controller="mainCtrl">
	<div class="container">
		<div class="page-header">
			<h1>Toys from the 80s and 90s</h1>
			<p class="intro">Starlight, Rainbow Brite, a little wish in the moonlight... Now you HAVE THE POWER to relive all your childhood dreams!</p>
		</div>
		<div class="main-content row">
			<div class="storefront col-md-8 col-sm-6">
				<ul class="row">
					<li class="store-item col-md-4 col-sm-6" ng-repeat="item in storeItems">
						<img class="img-responsive" ng-src="{{item.image}}" />
						<div class="center-block">
							<h3>{{item.name}}</h3>
							<p class="price">Price: ${{item.price}}</p>
							<p class="condition">Condition: {{item.condition}}</p>
							<p>{{item.description}}</p>
							<button class="btn add-cart" ng-click="addCartItem(item)">Add to Cart</button>
						</div>
					</li>
				</ul>
			</div> <!-- end storefront -->
			<div class="cart col-md-4 col-sm-6">
				<table class="table table-hover cart-items">
					<thead>
						<tr>
							<th colspan="5"><h2>Shopping Cart</h2></th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="item in cartItems">
							<td><img class="img-responsive" ng-src="{{item.image}}" /></td>
							<td>{{item.name}}</td>
							<td>${{item.price}}</td>
							<td>{{item.quantity}}</td>
							<td><button class="btn delete" ng-click="deleteCartItem($index)">Delete</button></td>
						</tr>
						<tr>
							<td></td>
							<td class="total">Total: </td>
							<td class="total">${{subTotal}}</td>
							<td></td>
							<td></td>
						</tr>
					</tbody>
				</table>
			</div> <!-- end cart -->
		</div>
	</div> <!-- end container -->

	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
	<script src="cloud-sale-app.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
</body>
</html>
